<div class="remodal additional-info" data-remodal-id="despachos" data-remodal-options="hashTracking: false">
    <a data-remodal-action="close" class="remodal-close"></a>
    <div class="is-full">
        <p class="additional-title">
            Despachos
        </p>
    </div>
    <div class="is-full">
        <select id="additional-select" onchange="getInfo()">
            <option value="0"> Selecciona tu Región </option>
            <option value="10"> Región Metropolitana </option>
            <option value="1"> Arica / Iquique </option>
            <option value="2"> Antofagasta </option>
            <option value="3"> Copiapó / La Serena / Coquimbo / Ovalle </option>
            <option value="4"> Valparaíso / Viña del Mar / San Antonio </option>
            <option value="5"> Rancagua / San Fernando / Curicó / Talca </option>
            <option value="6"> Chillán / Concepción / Los Ángeles </option>
            <option value="7"> Temuco / Valdivia / Osorno </option>
            <option value="8"> Puerto Montt </option>
            <option value="9"> Coyhaique / Punta Arenas </option>
        </select>
    </div>
    <div class="is-full mat-2 lefted">
        <span id="additional-default" class="additional-text">
            Selecciona tu Región
        </span>
        <span id="additional-notdefault-rm" class="additional-text" style="display: none;">
            <p class="mb-10">Despacho entre 24 y 48 hrs</p>
            <!-- DESPACHO RM UNITARIO -->
            <p class="mb-5">El despacho es <b>$3.890</b></p>
            <!-- DESPACHO RM MAYOR -->
            <p class="mb-5">Si compras sobre $20.000 <b>el despacho es gratis</b></p>
        </span>
        <span id="additional-notdefault" class="additional-text" style="display: none;">
            <p class="mb-10">Despacho entre 48 y 72 hrs</p>
            <p class="mb-5">El despacho es <span id="additional-money" class="bold"></span></p>
            <!-- DESPACHO REGIONES MAYOR -->
            <p class="mb-5">Si compras sobre $20.000 <b>el despacho es gratis</b></p>
        </span>
    </div>
</div>

<script>
    function getInfo() {
        el = document.getElementById("additional-select").value;
        if (el == 0) {
            $("#additional-notdefault").hide();
            $("#additional-notdefault-rm").hide();
            $("#additional-default").show();
        }
        if (el == 10) {
            $("#additional-notdefault").hide();
            $("#additional-notdefault-rm").show();
            $("#additional-default").hide();
        }
        if (el == 1) {
            // DESPACHO Arica / Iquique
            $("#additional-money").text('$10.562');
            $("#additional-notdefault").show();
            $("#additional-notdefault-rm").hide();
            $("#additional-default").hide();
        }
        if (el == 2) {
            // DESPACHO Antofagasta
            $("#additional-money").text('$8.900');
            $("#additional-notdefault").show();
            $("#additional-notdefault-rm").hide();
            $("#additional-default").hide();
        }
        if (el == 3) {
            // DESPACHO Copiapó / La Serena / Coquimbo / Ovalle
            $("#additional-money").text("$5.600");
            $("#additional-notdefault").show();
            $("#additional-notdefault-rm").hide();
            $("#additional-default").hide();
        }
        if (el == 4) {
            // DESPACHO Valparaíso / Viña del Mar / San Antonio
            $("#additional-money").text("$4.100");
            $("#additional-notdefault").show();
            $("#additional-notdefault-rm").hide();
            $("#additional-default").hide();
        }
        if (el == 5) {
            // DESPACHO Rancagua / San Fernando / Curicó / Talca
            $("#additional-money").text("$4.100");
            $("#additional-notdefault").show();
            $("#additional-notdefault-rm").hide();
            $("#additional-default").hide();
        }
        if (el == 6) {
            // DESPACHO Chillán / Concepción / Los Ángeles
            $("#additional-money").text("$4.500");
            $("#additional-notdefault").show();
            $("#additional-notdefault-rm").hide();
            $("#additional-default").hide();
        }
        if (el == 7) {
            // DESPACHO Temuco / Valdivia / Osorno
            $("#additional-money").text("$5.000");
            $("#additional-notdefault").show();
            $("#additional-notdefault-rm").hide();
            $("#additional-default").hide();
        }
        if (el == 8) {
            // DESPACHO Puerto Montt
            $("#additional-money").text("$5.900");
            $("#additional-notdefault").show();
            $("#additional-notdefault-rm").hide();
            $("#additional-default").hide();
        }
        if (el == 9) {
            // DESPACHO Coyhaique / Punta Arenas
            $("#additional-money").text("$11.057");
            $("#additional-notdefault").show();
            $("#additional-notdefault-rm").hide();
            $("#additional-default").hide();
        }

    }
</script>