<div class="remodal quick-shop js-quick-shop liklk" data-remodal-id="quick-shop" data-remodal-options="hashTracking: false">
  <a data-remodal-action="close" class="remodal-close"></a>
  <div class="container section">
    <div class="eight columns gallery-wrap hidden-element js-gallery-wrap
                gallery-arrows--{{ settings.quick_shop_gallery_arrows }}
                {% if settings.quick_shop_product_thumbs %}{{settings.quick_shop_thumbnail_position}}{% endif %}
                {% if settings.quick_shop_product_images_position == 'right' %}align-gallery-right{% endif %} slideshow_animation--{{ settings.quick_shop_slideshow_animation }}">
      <div  class="gallery product_gallery js-gallery-modal"
            data-zoom="{{ settings.quick_shop_zoom }}"
      >
      </div>
      {% if settings.quick_shop_product_thumbs %}
        <div class="gallery product_gallery_nav js-gallery-carousel">
        </div>
      {% endif %}
    </div>

    <div class="six columns text-modal-wrap hidden-element">

    <!--Product banners inserted with JS - populateProductInfo() -->
    {% if product.available %}
      <div class="sale_banner_product js-sale-banner"></div>
    {% endif %}
    <div class="new_banner_product js-new-banner"></div>
    <div class="new_banner_product js-pre-order-banner"></div>

      {% if settings.quick_shop_display_vendor %}
        <p class="vendor">
          <span class="vendor js-product-vendor"></span>
        </p>
      {% endif %}
      <h3 class="js-product-title"></h3>
      <div class="feature_divider"></div>

      <p class="modal_price">
        <span class="sold_out js-sold-out"></span>
        <span class="current_price js-current-price"><span class="money"></span></span>
        <span class="was_price js-was-price"><span class="money"></span></span>
        {% if settings.quick_shop_display_savings %}
          <span class="sale savings js-savings"></span>
        {% endif %}
      </p>
      <span class="js-notify-form"></span>
	  {% include "product-form" %}
      {% if settings.quick_shop_product_description_position == "top" %}
        {% if settings.quick_shop_full_description %}
          <span class="js-full-description clearfix"></span>
          <span class="js-product-details"></span>
        {% else %}
          <p>
            <span class="js-regular-description"></span>
            <span class="js-product-details"></span>
          </p>
        {% endif %}
      {% endif %}

      <span class="js-product-form"></span>

      {% if settings.quick_shop_product_description_position == "bottom" %}
        {% if settings.quick_shop_full_description %}
          <span class="js-full-description"></span>
          <span class="js-product-details"></span>

        {% else %}
          <p>
            <span class="js-regular-description"></span>
            <span class="js-product-details"></span>
          </p>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
