

		<!-- Snippet for Simple Preorder app -->
		{% include 'simple-preorder-bootstrap' %}




      {% include 'ba-po-params' %}
    
{% include 'vncpc' %}{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}

{% section 'cart-template' %}
<div id="bottom-of-cart-page">
</div>