<div class="container main content">
  <div class="twelve columns offset-by-two page clearfix">
    <h1>
      {{ page.title }}
    </h1>
    <div class="feature_divider"></div>

    <div>
      {{ page.content }}
    </div>
  </div>
</div>