{% if shop.metafields.loox["global_stats"] %}
{% assign looxstats = shop.metafields.loox["global_stats"] | split: "," %}
<div itemscope itemtype="https://schema.org/Product">
<meta itemprop="name" content="{{ shop.name | escape }}"/>
<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
<meta itemprop="ratingValue" content="{{ looxstats[0] }}"/>
<meta itemprop="ratingCount" content="{{ looxstats[1] }}"/>
</div>
</div>
{% endif %}
<div class="container main content">
  <div class="sixteen columns page clearfix">
    <h1>
      {{ page.title }}
    </h1>
    <div class="feature_divider"></div>

    <div>
      {% include 'page-multi-column', content: page.content %}
    </div>
  </div>
</div>
<div id="looxReviews" data-loox-aggregate="" class="loox-reviews-default"></div>