<div class="container main content">
  <div class="sixteen columns page clearfix">
    <h1>
      {{ page.title }}
    </h1>
    <div class="feature_divider"></div>

    <div>
      {% include 'page-multi-column', content: page.content %}
    </div>
  </div>
</div>