{% comment %}
	@rotcl  
{% endcomment %}

{% section 'banner' %}
<div id="inicio"></div>
<div id="tipo"></div>
<div id="confirmar"></div>
<div id="seleccion"></div>
<div id="formulario"></div>

{% section 'featured-text' %}

<div class="container main content">
  {% section 'suscription-v3' %}
</div>